* {
  margin: 0;
}

#mail-container {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  background: #f5f5f5;
  border-radius: 10px;
  width: fit-content;
  align-items: center;
}

h1 {
  font-family: sans-serif;
  font-size: 1.25rem;
}

input,
button {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 0.4rem;
}

button:hover {
  background: #f6f6f6;
}
